

#stocks {
    background-color: white;
    padding: 5px 0px;
    margin:auto;
}
#stocks a {
    color: #080808;
    text-decoration: none;
    font-weight: bold;
    font-size: 11px;
    font-family: Arial;
}
#stocks a:hover, #stocks a:active {
    text-decoration: underline;
}
#stocks .triggerUpdates {
    padding-bottom: 5px;
    color: red;
}
#stocks table {
    border-collapse:collapse;
    border-spacing: 0px;
    margin: 0px;
    padding: 0px;
    background-color: white;
    color: #080808;
    font-size: 18px;
    font-family: Verdana, Arial;
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
}

#stocks th{
    color: #039;
}

#stocks thead tr {   
    text-align: left;
}

#stocks tr {
    border: 1px solid #EBEBEB;
    height: 24px;
}

#stocks td, #stocks th{
    margin: 0px;
    padding: 5px;
    border: 1px solid #EBEBEB;
    height: 24px;   
} 

#stocks td {
    color: #669;
}

#stocks #caribe img{
    border: 0px;
    margin: 0px;
    height: 100px;
    width: 128px;
}

#stocks #icpc img{
    border: 0px;
    margin: 0px;
    height: 100px;
    width: 141px;
}

#stocks img {
    border: 0px;
    margin: 0px;
    height: 18px;
    width: 10px;
}

#stocks .status {
    color: gray;
    font-size: 14px;
    font-family: Arial;
    padding-left: 5px;
}

.odd
{
    background: #eff2ff;
}

.even
{
    background: #e8edff;
}
