textarea {
    resize: none;
}

.rate {
    width: 15px;
    height: 15px;
}

.i18n {
    text-align: right;
    /*margin-top: 135px;*/
    z-index: 120;
    position: absolute;
    width: 100%;
    right: 10px;
    margin: 5px;
}

.zoom {
    position: absolute;
    right: 9px;
   /*text-align: right;*/
    top: 95px;
    z-index: 120;
}

.zoom a {
    color: #fff;
    font-size: 14px;
    margin-right: 5px;
}

.servertime {
    text-align: right;
    position: relative;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-right: 6px;
    margin-top: 5px;
}

p.index {
    line-height: 30px;
}

.dataset {
    border: 1px solid #C0C0C0;
    background-color: #FFFFEE;
}

pre.code {
    border: 1px solid #C0C0C0;
    background-color: #F6F6F6;
}

p.ex, div.ex {
    text-align: left !important;
    font-size: 15px;
    line-height: 21px;
}

.date {
    width: 10%;
    font-size: 11 px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.unread {
    font-weight: bold;
    background: #f1e3c7 none repeat scroll 0 0;

}

.unreply {
    color: blue;
    font-weight: bold;
}

ul li.iconmail {
    background: url('../images/inbox.png');
    background-repeat: no-repeat;
    padding-left: 20px;
    height: 16px;
}

ul li.sent {
    background: url('../images/sent.png');
    background-repeat: no-repeat;
    margin-left: 14px;
    padding-left: 20px;
}

.ident {
    padding-left: 18px;
    margin-left: 13px;
    padding-bottom: 2px;
}

.filters {
    width: 100%;
    font-size: 12px;
}

input .filter {
    width: 2px;
}

tr .login {
    padding: 6px 6px 6px 6px;
}

.navbuttons {
    text-align: center;
    width: 15%;
    line-height: 5px;
}

.inputbox {
    border: 1px solid #C0C0C0;
    padding: 3px 5px;
    width: 130px;
}

.avatar {
    background-color: #FFFFEE;
    padding: 2px;
    border-radius: 2px;
    margin-left: 1em;
    margin-top: 0.3em;
    box-shadow: 2px 2px 5px #999;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
}