
a.pcojresultlink{
    color: #FFFFFF;
    font: bold;
}

a.pcojresultlink:visited{
    color: #FFFFFF;
    font: bold;

}

a.pcojresultlink:link{
    color: #FFFFFF;            
}

a.pcojresultlink:hover{
    color: yellow;
}

.pcojsubinform{
    margin-bottom: 10px;
}

.pcojsubinformsource, .pcojsubinformdestination{
    width: 50%;

}
.pcojsubinformsource{
    float: left;
}
.pcojsubinformdestination{ 
    float: right;
}

.pcojsubinformsource h4, .pcojsubinformdestination h4{
    margin-bottom: 4px;
    margin-top: 8px;
}

.plagicojtable caption{
    font-size: 16px;
    color: #616161;
}

.plagMatrix{
    text-align: center;
}

.plagMatrix #sup{
}

.plagMatrix #inf{   
    margin-bottom: 5px;
    clear: both;
}

.plagMatrix #left{
    width: 25px;    
    height: 296px;
    vertical-align: middle;
    float: left;    
    padding-right: 9px;
}


.plagMatrix #matrix{  
    float: left;
    width: 90%;    
    height: 315px;
}

.plagMatrix #right{    
    width: 25px;    
    height: 296px;
    vertical-align: middle;
    float: left;    
    padding-left: 9px;

}


.plagMatrix{
    /*visibility: hidden;    */
    margin-bottom: 25px;    
}

.plagMatrix a{
    color: #ffffff;
}

.plagMatrix a:hover{
    color: #FFFE00;
}

#legend{    
    clear: both;
}

a.btnPlagicoj{    
    background: none repeat scroll 0 0 #4C83C3;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    padding: 4px;
    text-decoration: none;
}

a.btnPlagicoj:hover{    
    background: none repeat scroll 0 0 rgba(75, 130, 196, 0.5); 
    color: #FFFE00;
}

img.btnPlagicoj{
    cursor: pointer;
    border: none;
}

div.pcojdiffdiv{    
    width: 100%;
}

table.pcojdifftable {
    border-collapse:collapse;
    border:1px solid darkgray
}
table.pcojdifftable tbody { 
    font-family:Courier, monospace
}
table.pcojdifftable tbody th {
    font-family:verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;
    background:#EED;
    font-size:11px;
    font-weight:normal;
    border:1px solid #BBC;
    color:#886;
    padding:.3em .5em .1em 2em;
    text-align:right;
    vertical-align:top
}
table.pcojdifftable thead {
    border-bottom:1px solid #BBC;
    background:#EFEFEF;
    font-family:Verdana
}
table.pcojdifftable thead th.texttitle {
    text-align:left
}
table.pcojdifftable tbody td {
    padding:0px .4em;
    padding-top:.4em;
    vertical-align:top;
    width: 50%;
}
table.pcojdifftable .empty {
    background-color:#DDD;
}

table.pcojdifftable .replace {
    background-color:#FD8
}
table.pcojdifftable .delete {
    background-color:#E99;
}
table.pcojdifftable .skip {
    background-color:#EFEFEF;
    border:1px solid #AAA;
    border-right:1px solid #BBC;
}
table.pcojdifftable .insert {
    background-color:#9E9
}

table.plagicoj{
    margin-bottom: 5px;
}

table.plagicoj th{
    text-align: right;
}

table.plagicoj td{
    text-align: left;
}

table.plagicoj td input{
    width: 46%;    
}
.navigating td *{
    cursor: pointer;
}

.navvertical td{
    width: 5px;
    height: 4%;
}
.navvertical td,tr{
    border:0px;        
}

.navvertical tr{
    border:0px;    
}
.navvertical{
    border: 1px solid #C0C0C0;
    height: 100%;
    margin-top: 10px;
}

.plagMatrix .navigating a{
    color: #325C91;
}

.matrixTable{
    height: 234px;
}

.navvertical .navbuttons{
    height: 6%;
}

.even.match{
    background-color: #FFCCCC;
}

.odd.match{
    background-color: #EE9999;
}

.plagicoj tfoot a:visited{
    color: white;
}

.leftdiv{
    width: 60%;
    float: left;

}

.rigthdiv{
    width: 40%;
    float: left;    
}

.rigthdiv > *{
    padding-left: 20px;
}

.nofloat{
    clear: both;
}

.buttons{


}

.judgement{
    margin-top: 20px;
}

.flag1{        
    background: url("/images/plagicoj/java.png") no-repeat scroll #F7EA75;

}

.flag2{
    background: url("/images/plagicoj/profile.jpeg") no-repeat scroll #F7EA75;
}

.flag3{
    background: url("/images/plagicoj/submit.png") no-repeat scroll #F7EA75;
}


table.intercalated tbody tr:nth-child(2n+1){
    background: none repeat scroll 0 0 #f1f1f1;
    border: 1px solid #c0c0c0;
}

.dictumCategory0,.dictumCategory1{
    background-color: #00FF00;
}

.dictumCategory2{
    background-color: #00FF55;
}
.dictumCategory3{
    background-color: #00FFAA;
}
.dictumCategory4{
    background-color: #00FFFF;
}

.dictumCategory5{
    background-color: #0080FF;
}
.dictumCategory6{
    background-color: #0000FF;
}
.dictumCategory7{
    background-color: #8000FF;
}

.dictumCategory8{
    background-color: #FF00FF;
}
.dictumCategory9{
    background-color: #FF0080;
}

.dictumCategory10{
    background-color: #FF0000;
}


